#projects {
  height: auto;
  padding-bottom: 5vh;
}

.projects-title {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.projects-title h1 {
  color: white;
  background-color: #050713;
  border-radius: 10px;
  font-size: calc(2vh + 2vw);
  padding: calc(1vh + 1vw);
  margin-top: calc(17vh + 17vw);
}


.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: calc(15vh + 15vw);
}

.card {
  background: #120e3d;
  width: calc(18vh + 18vw);
  height: 100%;
  margin: 0 2vh 5vh 2vh;
  padding-bottom: 16px;
  border-radius: 8px;
}

.projects-container div a {
  text-decoration: none;
  color: white;
}

.projects-container div div {
  width: 100%;
  height: calc(10vh + 8vw);
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.projects-container div h3 {
  font-size: calc(1vh + 1vw);
  margin: 1.5vh 0 1vw 23px;
}

.projects-container div p {
  font-size: calc(0.7vh + 0.7vw);
  margin-left: 23px;

}

@media (max-width: 700px) {
  #projects {
    height: auto;
    padding-bottom: 3vh;
  }

  .projects-title h1 {
    font-size: calc(2vh + 4vw);
    padding: calc(1vh + 2vw);
    margin-top: calc(10vh + 10vw);
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(10vh + 10vw);
  }

  .card {
    background: #120e3d;
    width: 80vw;
    height: 100%;
    margin: 0 0 5vh 0;
    padding-bottom: 16px;
    border-radius: 8px;
  }
  .projects-container div div {
    height: calc(20vh + 8vw);
  }

}